{% extends 'navbar.html' %}
{%block title_block %} iTube {%endblock%}
{% load static%}
{% block css_block %}
<style>
    .col-sm-6{
        width: 425px;
        padding: 20px;
    }
</style>
{% endblock %}
{% block body_block %}

<h3>Welcome to iTube</h3>
{% for video in result %}
<p><a href="{% url 'stream_app:video_details' slug=video.slug %}">{{video.video_title}}{{video.video}}</a></p>
{% endfor %}
<div class="video-list">
    <div class="row">
        {% for video in videos %}
        <div class="col-sm-6">
            <a href="{% url 'stream_app:video_details' slug=video.slug %}"><img src="/media/{{video.thumbnail}}" alt="" width="425" height = ''><br></a>
            <Strong>{{video.video_title}}</Strong> <br>
            {% if user.profile.profile_picture %}
            <img src="/media/{{video.user.profile.profile_picture}}" alt="" width="23px" height="23px" class="rounded-circle"> {{video.user.username}} <br>
            {% else %}
            <img src="{% static 'images/unisex_avatar.jpg' %}" alt="" width="23px" height="23px" class="rounded-circle"> {{video.user.username}} <br>
            {% endif %}
            <small class="text-muted"><strong>Publish date: </strong>{{video.publish_date}}</small><br>
            <small class="text-muted"><strong>Updated on: </strong>{{video.update_date}}</small> <br>
            <b>{{video.video_comment.count}} Comments</b>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
